*{
  padding: 0;margin: 0; box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*placing logo at the center of the navbar*/
.header{
  width: 100%;
  height: 70px;
  background-color:  #167E9F;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.header img{

  width: 80px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
}

.header h1{
  line-height: 70px;
  color: #fff;
}



.content{
  width: 100%;
  padding:40px;
  transition: .6s;

}



.content .contains p{
  text-align: justify;
}


/*sidebar =====================*/


.sidebar{
  width: 20%;
  height: 100%;
  position: fixed;
  top: 70px;
  background:  #073d4d;
  left: -100%;
  transition: .7s;
}


.sidebar ul{
  list-style: none;
}

.sidebar ul li{
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 15px 25px;
  font-family: Arial, Helvetica, sans-serif;
  transition: .4s;
}

/*active navabr===============*/
.sidebar ul li:hover,
.sidebar ul li.active{
	background: #063426;
	color: #c1d3ce;
}


.sidebar ul li:hover:before,
.sidebar ul li.active:before{
	opacity: 1;
}

.sidebar ul li a i{
  margin-right: 20px;
}

.sidebar ul li a:hover{
  border-left: 5px solid snow;
}

/*show and hide btns*/

.show-btn, .hide-btn{
  font-size: 35px;
  color: #fff;
  position: fixed;
  top: 15px;
  left: 50px;
}

.show-btn, .hide-btn:hover{
  cursor: pointer;
}

.hide-btn{
  opacity: 0;
}

#chk:checked ~ .sidebar{
  left: 0;
}

#chk:checked ~ .show-btn{
  opacity: 0;
}

#chk:checked ~ .hide-btn{
  opacity: 1;
}

#chk:checked ~ .content{
  padding-left: 20%;
}


/*Tables styles===============*/
.title_for_page{
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 24px;
  letter-spacing: 0.6px;
  word-spacing: 2.2px;
  color: #04779a;
  font-weight: normal;
  text-decoration: overline solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.table{
  width: 100%;
}


.table_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(237, 237, 233);
  
}

button{
  outline:none;
  border: none;
  border-radius:5px;
  cursor: pointer;
  padding: 10px;
 
}


td button:nth-child(1){
  background-color: #167E9F;
  color: #fff;
 
}

td button:nth-child(2){
  background-color: #d81251;
  color: #fff;
}

#add_new{
  background-color: #167E9F;
  color: #fff;
  padding: 10px 20px;
}

#add_new a{
  text-decoration: none;
  color: #fff;
}
input{
  outline: none;
}
.search input{
  padding: 10px 20px;
  margin: 0 10px;
 border-radius: 9px;
 border: 1px solid rgb(6, 122, 124);
}


#table_section{
  height: 400px;
  overflow: auto;
  margin-top: 30px;
}



table{
  width: 100%;
  table-layout: fixed;
  min-width: 900px;
  text-align: center;
  
}

thead th{
  position:static;
  top:0;
  background-color: rgb(17, 127, 130);
  color: #fff;
  font-size: 15px;
  padding: 4px;
  text-align: center;
  
  
}

th,td{
  border-bottom: 1px solid rgb(223, 233, 237);
  padding: 10px 20px;
  word-break: break-all;
  text-align: center;
}

tr:hover td{
  color: #167E9F;
  background-color: rgb(207, 223, 224);
  cursor: pointer;
}

.pagination {
  display: inline-block;
  justify-content: end;
  background: #166b85;
  width: 100%;
  padding: 10px 20px;
}

.pagination a {
  padding: 10px 15px;
  margin: 4px;
  color: rgb(255, 255, 255);
  border:2px solid #fff;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  justify-content: center;
  float: left;
  text-decoration: none;
  background: #167E9F;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3)
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.controls i{
  padding:7px 10px;
  margin: 4px;
  color: rgb(237, 225, 225);
  border:2px solid rgb(10, 82, 87);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 95, 95);
}

.controls{
  cursor: pointer;
}
::placeholder{
  color: #167E9F;
  
}

::-webkit-scrollbar{
  height: 9px;
  width: 9px;
}



::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background:#04779a

}

/*---------Date styling----*/
#date{
  color: #fff;
}
input[type="date"]{
  background-color: #117a9a;
  border-radius:5px;
  cursor: pointer;
  padding: 8px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border: none;

}

::-webkit-calendar-picker-indicator{
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}


/*==========select style*/


.select{
  padding: 8px 12px;
  color: #fff;
  background-color: #166b85;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: auto;
}

.select:focus, 
.select:hover{
  outline: none;
  border: #fff;
}



/*========loading skeleton modal========*/

#loader_content{
  display: none;
}

#loader{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

#loader img{
  width: 200px;
}


/*modal nav tabs ===============*/
.tabs_1{
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  font-family: sans-serif;
}

.tabs__label {
  padding: 10px 16px;
  cursor: pointer;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

.tabs__radio:checked + .tabs__label {
  font-weight: bold;
  color: #009578;
  border-bottom: 2px solid #009578;
  margin-bottom: 1em;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

.title_at_page{
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 24px;
  letter-spacing: 0.6px;
  word-spacing: 2.2px;
  color: #04779a;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  
}

/*aproval form==============*/

.approve{
  display: flex;
  align-items: center;
  justify-content: center;
}


/*=============Dark mode---------------=====*/
